<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet-mapping>
    <servlet-name>employees</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employees</servlet-name>
    <servlet-class>edu.dnu.fpm.pz.EmployerController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>VacancyController</servlet-name>
    <servlet-class>edu.dnu.fpm.pz.VacancyController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>VacancyController</servlet-name>
    <url-pattern>/vacancies</url-pattern>
  </servlet-mapping>

</web-app>
